
/***############### General Styling Reset and Setup: reset, grid, typography, general classes and divs.  Mobile-first styling setup. ***/
/***########## Reset the styles, add box-sizing: border-box. ***/
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, select, tr, td, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***########## Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. Very-small (vsm) 
columns display at their designated widths at all device sizes, small (sma) above the first breakpoint, large (lar) above the next breakpoint. ***/
.content {
    width: 100%;
    padding: 20px 10px 20px 10px;
}

.content-row {
    width: 100%;
    padding: 20px 0 20px 0;
}

    .content-row:after {
        content: "";
        display: block;
        clear: both;
    }

    .content-row.no-content-row-padding {
        padding: 0;
    }

    .content-row:first-of-type {
        padding-top: 0;
    }

    .content-row:last-of-type {
        padding-bottom: 0;
    }

.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.col-vsm-1, .col-vsm-2, .col-vsm-3, .col-vsm-4, .col-vsm-5, .col-vsm-6, .col-vsm-7, .col-vsm-8, .col-vsm-9, .col-vsm-10, .col-vsm-11, .col-vsm-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-vsm-1 {
    width: 8.333333%;
}

.col-vsm-2 {
    width: 16.666667%;
}

.col-vsm-3 {
    width: 25%;
}

.col-vsm-4 {
    width: 33.333333%;
}

.col-vsm-5 {
    width: 41.666667%;
}

.col-vsm-6 {
    width: 50%;
}

.col-vsm-7 {
    width: 58.33333%;
}

.col-vsm-8 {
    width: 66.666667%;
}

.col-vsm-9 {
    width: 75%;
}

.col-vsm-10 {
    width: 83.333333%;
}

.col-vsm-11 {
    width: 91.666667%;
}

.col-vsm-12 {
    width: 100%;
}

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px) {
    .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sma-1 {
        width: 8.333333%;
    }

    .col-sma-2 {
        width: 16.666667%;
    }

    .col-sma-3 {
        width: 25%;
    }

    .col-sma-4 {
        width: 33.333333%;
    }

    .col-sma-5 {
        width: 41.666667%;
    }

    .col-sma-6 {
        width: 50%;
    }

    .col-sma-7 {
        width: 58.33333%;
    }

    .col-sma-8 {
        width: 66.666667%;
    }

    .col-sma-9 {
        width: 75%;
    }

    .col-sma-10 {
        width: 83.333333%;
    }

    .col-sma-11 {
        width: 91.666667%;
    }

    .col-sma-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        padding: 20px 0 20px 0;
    }

    .content-row {
        padding: 25px 0 25px 0;
    }

        .content-row:first-of-type {
            padding-top: 0;
        }

        .content-row:last-of-type {
            padding-bottom: 0;
        }

    .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lar-1 {
        width: 8.333333%;
    }

    .col-lar-2 {
        width: 16.666667%;
    }

    .col-lar-3 {
        width: 25%;
    }

    .col-lar-4 {
        width: 33.333333%;
    }

    .col-lar-5 {
        width: 41.666667%;
    }

    .col-lar-6 {
        width: 50%;
    }

    .col-lar-7 {
        width: 58.33333%;
    }

    .col-lar-8 {
        width: 66.666667%;
    }

    .col-lar-9 {
        width: 75%;
    }

    .col-lar-10 {
        width: 83.333333%;
    }

    .col-lar-11 {
        width: 91.666667%;
    }

    .col-lar-12 {
        width: 100%;
    }
}

/***########## General Styling and Typography settings. ***/
body {
    background-color: #f3f3f3;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

p {
    padding-bottom: 16px;
    line-height: 22.4px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    font-size: 0px;
}
/*Don't allow images to go offscreen horizontally */
a:link, a:visited {
    color: #000000;
}

a:hover {
    color: #0000cc;
}

input, textarea, select {
    outline: 0;
    transition: 0.2s;
}

    input:focus, textarea:focus, select:focus {
        box-shadow: 0px 0px 3px 3px rgba(0, 102, 204, 0.6);
        transition: 0.2s;
    }

.body-wrapper {
    position: relative;
    width: 100%;
    min-width: 300px;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1600px) {
}

/***########## General layout settings and general classes. ***/
.justify-content > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* General Resuable Classes */
.sr-only {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}

.width-100-percent {
    width: 100%;
}

.clear-both {
    clear: both;
}

/* Use .inner-wrapper for layouts where you want to have backgrounds go out of the site 'border' provided by .body-wrapper '*/
.inner-wrapper {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 700px) {
    .float-right-above-a-breakpoint {
        float: right;
    }
}

/* Form Validation classes */
.javascript-validation-results-contact-us {
    display: none;
    font-weight: bold;
}

    .javascript-validation-results-contact-us.show {
        display: block;
    }

.required-field-needed {
    box-shadow: 0px 0px 3px 3px rgba(204, 0, 0, 1);
}
/***########## End of General Styling Reset and Setup ****/





/***############### Beginning of Website-specific style sheet. ****/

/*Brand Colors: Tetrad Color Scheme, 30 deg. separation. */
:root {
    --color-1: #138510; /* dark grass green       (22,  133,  16)      */
    --color-2: #0c6460; /* cobalt-blue            (12,  100,  97)      */
    --color-3: #a45414; /* dark orange-brown      (164,  84,  20)      */
    --color-4: #a31417; /* dark pink-red          (163,  20,  24)      */
    --color-1-semi-opacity: rgba(22, 133, 16, 0.8);
    --color-2-semi-opacity: rgba(12, 100, 97, 0.8);
    --color-3-semi-opacity: rgba(164, 84, 20, 0.5);
    --color-4-semi-opacity: rgba(163, 20, 24, 0.5);
    --color-2-very-low-opacity: rgba(12, 100, 97, 0.2);
    --color-1-lighter-green: rgba(75, 182, 69, 1);
    --color-1-medium-opacity: rgba(22, 133, 16, 0.4);
    --color-2-medium-opacity: rgba(12, 100, 97, 0.4);
}

@media only screen and (max-width: 700px) {
    .col-vsm-1, .col-vsm-2, .col-vsm-3, .col-vsm-4, .col-vsm-5, .col-vsm-6, .col-vsm-7, .col-vsm-8, .col-vsm-9, .col-vsm-10, .col-vsm-11, .col-vsm-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #000000;
    outline: 0;
    transition: box-shadow 0.4s ease-in;
}

    input:focus, textarea:focus, select:focus {
        box-shadow: 0 0 3px 5px var(--color-1-semi-opacity);
        transition: box-shadow 0.4s ease-in;
    }

a, a:link, a:visited, a:hover {
    transition: 0.4s ease-in;
    font-weight: bold;
}

    a, a:link, a:visited {
        color: var(--color-4);
    }

        a:hover {
            color: var(--color-3);
        }

button {
    padding: 10px;
    cursor: pointer;
}

h2 {
    color: var(--color-2);
    font-weight: bold;
    padding: 0 0 12px 0;
    text-align: center;
}

h3 {
    color: var(--color-3);
    padding: 0 0 12px 0;
    text-align: left;
}

h4 {
    padding: 0 0 12px 0;
}

li {
    padding-bottom: 10px;
}

/* General sitewide sections */
.content-row.small-content-row-padding-top {
    padding-top: 5px;
}

.background-hero-image {
    width: 100%;
    min-height: 240px;
}

.list-with-bullet-points {
    padding-left: 20px;
    list-style-type: disc;
}


.javascript-validation-results-contact-us {
    padding-bottom: 10px;
}

.form {
}

.form__input-container {
    padding: 10px;
}

    .form__input-container:last-of-type {
        padding-bottom: 0;
    }

.form__label {
    display: inline-block;
    float: left;
    width: 100%;
    padding-bottom: 6px;
}

.form__input {
    display: inline-block;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.form__textarea {
    min-height: 100px;
}

.form__submit-button {
    padding: 15px;
}

    .form__submit-button:hover {
    }


.button-container {
    border: 2px solid var(--color-1);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-1);
    background: linear-gradient(170deg, var(--color-1) 35%, #f0f0f0 100%);
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s ease-in;
}

    .button-container:hover {
        background-color: var(--color-1-lighter-green);
        box-shadow: 0 0 4px 6px var(--color-3-semi-opacity);
        transition: 0.4s ease-in;
    }

.sign-up-container {
    width: 150px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: var(--color-1);
}

    .sign-up-container:hover {
    }

    .sign-up-container .sign-up-container__link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 12px;
        border-radius: 15px;
        font-size: 18px;
        color: #ffffff;
    }

.form-response {
    font-weight: bold;
    padding-bottom: 25px;
}


/*Header, nav*/
#desktopNav {
    display: none;
}

#mobileNav {
    display: block;
}

.header {
    min-height: 315px;
    background: url("../images/hillside-farm.jpg") 0% 50%/cover no-repeat;
}

.main-title-container {
    position: absolute;
    top: 65px;
    left: 15px;
    width: 165px;
    border-radius: 10px;
    border: 2px solid var(--color-2-semi-opacity);
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.4s ease-in;
}

    .main-title-container:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transition: 0.4s ease-in;
    }


    .main-title-container .main-title__title {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
        font-size: 26px;
        font-weight: bold;
        color: var(--color-1);
    }

.subtitle-container {
    position: relative;
}

.subtitle-container__note {

}

.subheader-divider {
    margin-bottom: 25px;
    border-bottom: 2px solid var(--color-1);
}


/*Nav*/
.nav {
    position: absolute;
    top: 32px;
    right: 0px;
    text-align: right;
}

.nav__nav-list {
    font-size: 0;
}

.nav__nav-list-container {
    padding: 10px 15px 10px 10px;
}

.nav .nav__nav-link {
    display: inline-block;
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

    .nav .nav__nav-link:hover {
        color: var(--color-3);
    }

.nav .nav__nav-list-container .current-page {
    text-decoration: underline;
}

/*Logo*/
.logo-container {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
}


/*Login/Register*/
.register-login-username {
    position: absolute;
    top: 230px;
    left: 10px;
    max-width: 205px;
    height: 40px;
    overflow: scroll;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.register-login {
    position: absolute;
    top: 275px;
    left: 10px;
    font-size: 0;
}

    .register-login a {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
    }

        .register-login a:hover {
            color: var(--color-4);
        }

.register-login__register {
    display: inline-block;
    padding-right: 20px;
}

.register-login__login {
    display: inline-block;
}

.register-login__logout {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    border: 2px solid var(--color-2-semi-opacity);
    border-radius: 15px;
    font-weight: bold;
    color: var(--color-2);
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.4s all ease-in;
}

    .register-login__logout:hover {
        color: rgba(201, 201, 201, 1);
        border: 2px solid rgba(255, 255, 255, 0.4);
        background-color: var(--color-1-semi-opacity);
        transition: 0.4s all ease-in;
    }

.register-login__link.current-page {
    text-decoration: underline;
}

.register-benefits {
    padding-bottom: 15px;
}


/*Footer*/
.footer {
    text-align: center;
    background: url("../images/hillside-farm.jpg") 0% 65%/cover no-repeat;
    color: #f9f9f9;
}

    .footer p {
        padding-bottom: 8px;
    }

.footer__background {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--color-2-medium-opacity);
}

.footer__additional-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.footer__copyright, .footer__locations, .footer__phone, .footer__hours {
    padding-bottom: 15px;
}

.footer__subheading {
    padding-bottom: 16px;
    font-weight: bold;
    color: #ffffff;
}

.footer .footer__privacy-link {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

    .footer .footer__privacy-link:hover {
        color: var(--color-4);
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.8);
    }

.footer__social-item {
    display: inline-block;
    padding-right: 38px;
}

    .footer__social-item:last-of-type {
        padding-right: 0;
    }

    .footer__social-item .footer__social-link {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

    .footer__social-item i {
        border-radius: 0px;
    }

        .footer__social-item i::before {
            display: inline-block;
            width: 32px;
            height: 32px;
            color: #ffffff;
            transition: 0.4s ease-in;
        }

    .footer__social-item .footer__social-link:hover i::before {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.8);
        color: var(--color-4);
        transition: 0.4s ease-in;
    }


/*Cookie Partial*/
.cookie-policy {
    position: fixed;
    bottom: 5%;
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.95);
}

    .cookie-policy.hide {
        display: none;
    }

.cookie-policy__subheading {
    text-align: center;
    font-weight: bold;
}

.cookie-policy__learn-more {
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    margin-right: 50px;
    background-color: #cccccc;
    cursor: pointer;
}

.cookie-policy__agree-to-cookies {
    display: inline-block;
    background-color: var(--color-1);
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}


/*Slideshow*/
.slideshow {
    position: static;
    width: 100%;
    max-width: 560px;
    height: 100%;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.slideshow-image-wrapper {
}

.slideshow__image-link {
    display: block;
    overflow: hidden;
    border: 2px solid var(--color-1);
    border-radius: 15px;
}

.slideshow__image {
    min-height: 200px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: 50% 50%/cover no-repeat;
    transition: transform 1.2s ease-in;
    transform: scale(1.10);
    cursor: pointer;
}

    .slideshow__image:hover {
        transform: scale(1.30) translateX(-30px) translateY(-8px);
        transition: transform 1.5s ease-in;
    }

.slideshow__header {
    padding: 10px 10px 10px 40px;
    border-radius: 12px 12px 0 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    color: var(--color-1);
}

.slideshow__buttons {
    width: 168px;
    margin-left: auto;
    margin-right: 25px;
    border-radius: 0 0 12px 12px;
    background-color: #ffffff;
}

.slideshow__slide-button {
    display: block;
    opacity: 0.4;
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 12px;
    background-color: var(--color-1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s ease-in;
}

    .slideshow__slide-button:hover {
        background-color: #ffffff;
        box-shadow: 0px 0px 2px 4px var(--color-1) inset;
        transition: 0.2s ease-in;
    }

    .slideshow__slide-button.active {
        opacity: 1;
    }

#pausePlayButton {
    opacity: 1;
    margin-left: 0;
    background: url(../images/index/pause-button.png) 50% 50%/cover no-repeat;
    border-radius: 1px;
}

    #pausePlayButton.paused {
        background: url(../images/index/play-button.png) 50% 50%/cover no-repeat;
    }

    #pausePlayButton:hover {
        box-shadow: 0px 0px 3px 4px var(--color-4);
    }

#slideButton3 {
    margin-bottom: 10px;
}

.subheader {
    text-align: center;
}

.page-content {
    padding-bottom: 20px;
}


/*Index*/
.index-content-1 {
    padding: 0px 0 5px 30px;
    text-align: left;
}

.index-content-2 {
    padding: 5px 15px 5px 0;
    text-align: right;
}

.index-content-3 {
    padding: 5px 0 0px 25px;
    text-align: left;
}

.index-content-1__h3 {
    margin-left: -12px;
    text-align: left;
}

.index-content-2__h3 {
    margin-right: -8px;
    text-align: right;
}

.index-content-3__h3 {
    padding-left: 12px;
    text-align: left;
}

.index-content__detail {
    display: block;
    padding-bottom: 12px;
}

.index-section {
    padding-bottom: 60px;
}

    .index-section.five, .index-section.six {
        padding-bottom: 0;
    }

.index-section__bg-container {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.4s ease-in;
}

    .index-section__bg-container:hover {
        box-shadow: 0 0 4px 6px var(--color-3-semi-opacity);
        transition: 0.4s ease-in;
    }

.index-section__bg-image {
    height: 120px;
    transition: 0.4s ease-in;
    cursor: pointer;
}

    .index-section__bg-image:hover {
        transform: scale(1.06);
        transition: 0.8s ease-in;
    }

.index-section__title h3 {
    text-align: center;
}

.index-section__description {
}

.index-section__bg-image-link {
    display: block;
    width: 100%;
    height: 100%;
}


.index-section.one .index-section__bg-image {
    background: url('/assets/images/pumpkin-patch-sunny-field-in-fall-small.jpg') 50% 30%/cover no-repeat;
}

.index-section.two .index-section__bg-image {
    background: url('/assets/images/tractor-with-cargo-bay-small.jpg') 50% 30%/cover no-repeat;
}

.index-section.three .index-section__bg-image {
    background: url('/assets/images/cherry-trees-on-hill-small.jpg') 50% 30%/cover no-repeat;
}

.index-section.four .index-section__bg-image {
    background: url('/assets/images/closeup-apples-in-a-cart-small.jpg') 50% 30%/cover no-repeat;
}

.index-section.five .index-section__bg-image {
    background: url('/assets/images/farm-shed-sunset-golden-field-small.jpg') 50% 30%/cover no-repeat;
}

.index-section.six .index-section__bg-image {
    background: url('/assets/images/apple-harvesting-barrel-small.jpg') 50% 30%/cover no-repeat;
}


/*About Us*/
.background-hero-image.about-us {
    margin-bottom: 40px;
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

.map-location__header {
    text-align: center;
}

.map-location__text {
    text-align: center;
}

.map-location__map {
    width: 100%;
    height: 240px;
    max-width: 1500px;
    background: url('/assets/images/serene-river-farms-map.png') 50% 30%/cover no-repeat;
}


/*Our Farm*/
.background-hero-image.our-farm {
    background: url('/assets/images/farm-barn-pond.jpg') 50% 30%/cover no-repeat;
}

.set-up-tour-form {
    padding-top: 15px;
}

.our-farm-tour-image {
    max-width: 960px;
    height: 240px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: url('/assets/images/cherry-trees-on-hill.jpg') 50% 30%/cover no-repeat;
}


/*Products*/
.shopping-cart {
}

.shopping-cart__image {
    display: none;
}

    .shopping-cart__image.show {
        display: block;
        position: absolute;
        top: -120px;
        right: 110px;
        width: 64px;
        height: 55px;
        background: url('../images/shopping-cart.png') 0% 0%/cover no-repeat;
    }

.shopping-cart__link {
    display: block;
    width: auto;
    height: 100%;
}

.shopping-cart__number-of-items {
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}


.product-search {
    padding-bottom: 15px;
}

.search-form {
     font-size: 0;
}

.search-form__input-container {
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 20px;
}

.search-form__label {
    display: block;
    padding-bottom: 10px;
}

.search-form__input {
    display: block;
    border-radius: 10px;
}

#searchButton {
    width: 95px;
}



.product-quantities {
    display: none;
}


.product {
    padding-bottom: 60px;
    font-size: 0;
}

.products .product.hide {
    display: none;
}

.product__header {
}

.product__name {
    padding-bottom: 2px;
    text-align: center;
}

.product__quantity {
    display: inline-block;
    float: right;
    padding-top: 2px;
    font-weight: bold;
    color: var(--color-1);
}

    .product__quantity:after {
        clear: both;
    }

.product .product__quantity-link {
    color: var(--color-1);
}

    .product .product__quantity-link:hover {
        color: var(--color-3);
    }

    .product__bg-image {
        width: 100%;
        height: 120px;
        margin-bottom: 5px;
    }

.product__description {
    margin-bottom: 5px;
}

.product__price {
    display: inline-block;
    max-width: 95px;
    padding-bottom: 8px;
    font-size: 18px;
    text-align: left;
}

.product__minus-quantity {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-top: 8px;
    margin-right: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-1);
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.product__input-quantity {
    display: inline-block;
    width: 49px;
    padding: 6px 8px;
    margin-right: 6px;
    margin-bottom: 10px;
    border: 2px solid var(--color-1);
    border-radius: 5px;
    color: var(--color-1);
}

.product .product__input-quantity {
    -moz-appearance: textfield;
}

.product input::-webkit-outer-spin-button, .product input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product__add-quantity {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-top: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-1);
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.product__add-container {
    position: relative;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
}

.product__add {
    width: 108px;
    height: 34px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-2);
    background: linear-gradient(170deg, var(--color-2) 35%, var(--color-2-semi-opacity) 70%, var(--color-2) 100%);
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s ease-in;
    user-select: none;
}

    .product__add:hover {
        box-shadow: 0 0 3px 5px var(--color-3-semi-opacity);
        transition: 0.4s ease-in;
    }


.product.zero .product__bg-image {
    background: url('/assets/images/pear-small.jpg') 50% 30%/cover no-repeat;
}

.product.one .product__bg-image {
    background: url('/assets/images/apple-harvesting-barrel-small.jpg') 50% 30%/cover no-repeat;
}

.product.two .product__bg-image {
    background: url('/assets/images/blueberries-small.jpg') 50% 30%/cover no-repeat;
}

.product.three .product__bg-image {
    background: url('/assets/images/strawberries-in-wooden-basket-small.jpg') 50% 30%/cover no-repeat;
}

.product.four .product__bg-image {
    background: url('/assets/images/raspberries-in-pint-cartons-small.jpg') 50% 30%/cover no-repeat;
}

.product.five .product__bg-image {
    background: url('/assets/images/cherries-in-bowl-small.jpg') 50% 30%/cover no-repeat;
}

.product.six .product__bg-image {
    background: url('/assets/images/pumpkins-bunch-small.jpg') 50% 30%/cover no-repeat;
}

.product.seven .product__bg-image {
    background: url('/assets/images/milk-glass-and-jug-small.jpg') 50% 30%/cover no-repeat;
}

.product.eight .product__bg-image {
    background: url('/assets/images/jars-of-jams-on-table-small.jpg') 50% 30%/cover no-repeat;
}

#userState option {
    padding: 5px;
}

.form__submit-button.estimate {
}


.estimate-container {
    padding-top: 30px;
}

.estimate-container__header {
    padding-bottom: 30px;
}

.estimate-cart__total {
    padding: 10px 0;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.reset-all {
    width: 100px;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-4);
    color: #f9f9f9;
}

.item-table {
}

    .item-table th {
        display: none;
        width: 100%;
        padding: 5px 5px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .item-table td {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

.item {
    width: 50%;
    float: left;
}

    .item.hide {
        display: none;
    }

.item__name, .item__approximate-price, .item__quantity, .item__approximate-subtotal, .item__minus, .item__add {
    padding: 5px 5px;
}


.item-table .item__name {
    margin-top: 60px;
}

.item__minus__item {
    width: 36px;
    height: 36px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-4);
    color: #f9f9f9;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.item__add__item {
    width: 36px;
    height: 36px;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-1);
    color: #f9f9f9;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.item__photo-image {
    width: 80px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.item.zero .item__photo-image {
    background: url('/assets/images/pear-small.jpg') 50% 30%/cover no-repeat;
}

.item.one .item__photo-image {
    background: url('/assets/images/apple-harvesting-barrel-small.jpg') 50% 30%/cover no-repeat;
}

.item.two .item__photo-image {
    background: url('/assets/images/blueberries-small.jpg') 50% 30%/cover no-repeat;
}

.item.three .item__photo-image {
    background: url('/assets/images/strawberries-in-wooden-basket-small.jpg') 50% 30%/cover no-repeat;
}

.item.four .item__photo-image {
    background: url('/assets/images/raspberries-in-pint-cartons-small.jpg') 50% 30%/cover no-repeat;
}

.item.five .item__photo-image {
    background: url('/assets/images/cherries-in-bowl-small.jpg') 50% 30%/cover no-repeat;
}

.item.six .item__photo-image {
    background: url('/assets/images/pumpkins-bunch-small.jpg') 50% 30%/cover no-repeat;
}

.item.seven .item__photo-image {
    background: url('/assets/images/milk-glass-and-jug-small.jpg') 50% 30%/cover no-repeat;
}

.item.eight .item__photo-image {
    background: url('/assets/images/jars-of-jams-on-table-small.jpg') 50% 30%/cover no-repeat;
}


/*Recipes*/
.background-hero-image.recipes {
    background: url('/assets/images/kitchen-area.jpg') 50% 30%/cover no-repeat;
}

.recipe {
    padding-bottom: 40px;
}

.recipe__photo {
    width: 300px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.recipe__subheading {
    padding-top: 20px;
}

    .recipe__subheading:nth-of-type(1) {
        padding-top: 0;
    }

.recipe.zero .recipe__photo {
    background: url('/assets/images/apple-cider.jpg') 50% 30%/cover no-repeat;
}

.recipe.one .recipe__photo {
    background: url('/assets/images/blueberry-muffin.jpg') 50% 30%/cover no-repeat;
}


/*Events*/
.background-hero-image.events {
    background: url('/assets/images/pumpkin-patch-sunny-field-in-fall.jpg') 50% 30%/cover no-repeat;
}

.event {
    padding-bottom: 15px;
}

.event__date {
    display: inline-block;
    font-weight: bold;
}

.past-events-subheading {
    padding-top: 20px;
}


/*Blog*/
.blog-controls {
}

.blog-controls__toggle-order-date {
    width: 146px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.blog-controls__toggle-order-title {
    width: 143px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.blog-controls__condense-blog-posts {
    width: 222px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}


.blog-post {
    position: relative;
    padding-bottom: 30px;
}

.blog-post__title {
    width: 100%;
}

.blog-post__date {
    float: left;
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 0;
    font-weight: bold;
}

.blog-post.condense .blog-post__text {
}

.blog-post__photo {
    width: 240px;
    height: 160px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.6s ease-in;
}

.blog-post__body {
}

.blog-post__text-continued {
    display: none;
}

.blog-post.condense .blog-post__photo {
    width: 120px;
    height: 80px;
    transition: 0.6s ease-in;
}

.blog-post.condense .blog-post__text {
    padding-right: 42px;
    max-height: 24px;
    overflow: hidden;
}

.blog-post__text-continued.show {
    display: block;
    position: relative;
    top: -21px;
    left: -20px;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.blog-post__minimize-post {
    display: none;
}

    .blog-post__minimize-post.show {
        display: block;
        font-weight: bold;
        cursor: pointer;
    }

.blog-post.zero .blog-post__photo {
    background: url('/assets/images/pumpkin-patch-sunny-field-in-fall.jpg') 50% 30%/cover no-repeat;
}

.blog-post.one .blog-post__photo {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

.blog-post.two .blog-post__photo {
    background: url('/assets/images/cherry-trees-on-hill.jpg') 50% 30%/cover no-repeat;
}

/*Contact Us*/
.background-hero-image.contact-us {
    background: url('/assets/images/tractor-with-cargo-bay.jpg') 50% 30%/cover no-repeat;
}

.contact-form .form__required {
    color: #cc0000;
}

.contact-form .form__label {
    color: var(--color-3);
}

.contact-form .required-field-needed {
}


/*Register page*/
#registerForm {
}

.background-hero-image.register {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Login page*/
.forgot-password {
    padding-top: 40px;
}

.register-new-user {
    padding-top: 20px;
}

.background-hero-image.login {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Logged output page */
.background-hero-image.logout {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Forgot Password page*/
.background-hero-image.forgot-password {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Forgot Password Email Sent page*/
.background-hero-image.forgot-password-email-sent {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Reset Password page*/
.background-hero-image.reset-password {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Reset Password Results page*/
.background-hero-image.reset-password-results {
    background: url('/assets/images/strawberry-bushes-in-a-row.jpg') 50% 30%/cover no-repeat;
}

/*Account Home page*/
.account-info__user-name {
    font-weight: bold;
}

.account-nav {
    padding-top: 5px;
    font-size: 18px;
}

.account-nav__link {
    display: block;
    padding-bottom: 25px;
    font-size: 18px;
}

.account-benefits {
    padding-bottom: 20px;
}


/*Settings page*/
.settings-form-container {
    padding-bottom: 50px;
}

.settings-message {
    padding-bottom: 15px;
    font-weight: bold;
}


/*Privacy Policy*/
.background-hero-image.privacy-policy {
    background: url('/assets/images/cows-in-golden-field-foggy-morning.jpg') 50% 30%/cover no-repeat;
}


/*Error 404*/
.background-hero-image.error-404 {
    background: url('/assets/images/cows-in-golden-field-foggy-morning.jpg') 50% 30%/cover no-repeat;
}


/*Error 500*/
.background-hero-image.error-500 {
    background: url('/assets/images/cows-in-golden-field-foggy-morning.jpg') 50% 30%/cover no-repeat;
}



@media only screen and (max-width: 699px) {
    /*Index*/
    .index-section:nth-of-type(2n + 1) {
        content: "";
        display: block;
        clear: both;
    }

    /*Products*/
    .product:nth-of-type(2n + 1) {
        content: "";
        display: block;
        clear: both;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1199px) {
    /*Products*/
    .product:nth-of-type(3n + 1) {
        content: "";
        display: block;
        clear: both;
    }
}

@media only screen and (min-width: 700px) {
    /*Index*/
    .index-section:nth-of-type(3n + 1) {
        content: "";
        display: block;
        clear: both;
    }
}



@media only screen and (min-width: 500px) {
    /*Index*/
    .index-section__bg-image {
        height: 200px;
        transition: 0.4s ease-in;
        cursor: pointer;
    }

    /*Products*/
    .product__bg-image {
        height: 180px;
    }
}



@media only screen and (min-width: 700px) {
    h2 {
        text-align: left;
    }

    /* General sitewide sections */
    .main-title-container {
        width: 335px;
    }

        .main-title-container .main-title__title {
            padding: 15px;
            font-size: 32px;
        }

    #mobileNav {
        display: none;
    }

    #desktopNav {
        display: block;
    }

    /*General Use */
    .background-hero-image {
    }

    .page-content {
        padding-bottom: 0px;
    }

    /*Footer*/
    .footer__background {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__locations, .footer__phone, .footer__hours {
        padding-bottom: 0px;
    }

    /*Slideshow*/
    .slideshow__image {
        min-height: 240px;
    }

    .slideshow__buttons {
        padding-top: 0;
        padding-bottom: 0;
    }


    /*Cookie policy*/
    .cookie-policy {
        bottom: 5%;
        width: 100%;
        max-width: 1600px;
        padding: 50px 30px;
    }

    /*Login/Register*/
    .register-login-username {
        overflow: initial;
    }


    /*Index page*/
    .index-section.four, .index-section.five, .index-section.six {
        padding-bottom: 0;
    }


    /*About */
    .background-hero-image.about-us {
        margin-bottom: 0px;
    }

    .map-location__map {
        height: 400px;
    }

    /*Our Farm*/
    .our-farm-tour-image {
        height: 350px;
    }


    /*Products*/
    .shopping-cart__image.show {
        top: -95px;
        right: 120px;
    }

    
    .product {
        position: relative;
        padding-bottom: 60px;
    }

    .product__header {
        min-height: 0px;
    }

    .product__name {
        display: block;
        padding-bottom: 8px;
    }

    .product__add-container {
        position: static;
    }

    .product__price {
        display: block;
        max-width: none;
        text-align: center;
    }

    .product__quantity {
        position: absolute;
        top: 2px;
        right: 15px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        font-size: 18px;
    }

    .product__bg-image {
        height: 180px;
    }

    .estimate-container {
        padding-top: 0px;
    }


    /*Recipes*/
    .recipe__photo {
        float: left;
        margin-right: 15px;
    }

    .recipes__list {
        position: relative;
        left: 20px;
    }

    /*Blog*/
    .blog-post__photo {
        float: right;
        margin-left: 5px;
        margin-right: 0;
    }

    .blog-controls {
        position: relative;
        width: 550px;
        left: 604px;
    }

    .blog-controls__toggle-order-date {
        display: inline-block;
        margin-right: 15px;
    }

    .blog-controls__toggle-order-title {
        display: inline-block;
        margin-right: 15px;
    }

    .blog-controls__condense-blog-posts {
        display: inline-block;
        margin-right: 0;
    }

    .blog-post.condense .blog-post__photo {
        margin-bottom: 0;
    }
}



@media only screen and (min-width: 1000px) {
    /*Index*/
    .index-section__bg-image {
        height: 220px;
    }

    /*Products*/
    .product__bg-image {
        height: 240px;
    }
}



@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 30px;
    }

    /* General sitewide sections */
    .body-wrapper {
    }

    .inner-wrapper {
        width: 1200px;
    }

    .header {
        min-height: 460px;
        background: url("../images/hillside-farm.jpg") 0% 22%/cover no-repeat;
    }

    .main-title-container {
        position: absolute;
        top: 90px;
        left: 40px;
        width: 504px;
    }

        .main-title-container .main-title__title {
            font-size: 50px;
        }

    /*Logo*/
    .logo-container {
        top: 20px;
        left: 15px;
        width: 60px;
        height: 60px;
    }

    /*Nav*/
    .nav {
        position: absolute;
        top: 15px;
        left: 175px;
    }

    .nav__nav-list-container {
        padding: 10px;
        text-align: left;
    }

    .nav__nav-item {
        display: inline-block;
        padding-bottom: 0;
        padding-right: 32px;
    }

        .nav__nav-item:last-of-type {
            padding-right: 0;
        }

    .nav .nav__nav-link {
        padding-bottom: 0;
        color: var(--color-4);
    }

        .nav .nav__nav-link:hover {
            color: #ffffff;
        }

    .footer {
        background: url("../images/hillside-farm.jpg") 0% 67%/cover no-repeat;
    }

    .footer__background {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer__subheading {
        font-size: 20px;
    }


    /*Register/login*/
    .register-login {
        position: absolute;
        top: 40px;
        left: auto;
        right: 50px;
    }

    .register-login-username {
        position: absolute;
        top: 90px;
        left: auto;
        right: 50px;
        width: auto;
        height: auto;
        max-width: none;
        font-size: 18px;
        color: var(--color-2);
    }

    .register-login__register {
        display: inline-block;
        padding-right: 32px;
    }

    .register-login a {
        font-size: 18px;
        color: var(--color-2);
    }

    .register-login__logout {
        font-size: 18px;
    }

    .register-login a:hover {
        color: #ffffff;
    }

    .register-login__logout:hover {
        color: #ffffff;
    }


    /*Slideshow*/
    .slideshow {
        position: relative;
        width: 570px;
        height: 100%;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: 0px;
    }

    .slideshow__image {
        position: relative;
        padding-bottom: 56.25%;
    }

        .slideshow__image:hover {
            transform: scale(1.30) translateX(-60px) translateY(-15px);
        }

    .slideshow__header {
        font-size: 26px;
    }


    /*General use styles*/
    .background-hero-image {
        width: 100%;
        min-height: 380px;
    }


    /*Login page*/


    /*Index*/
    .index-section__bg-image {
        height: 240px;
    }


    /*About*/
    .map-location__map {
        width: 1150px;
        height: 700px;
    }

    /*Our Farm*/
    .our-farm-tour-image {
        height: 500px;
    }


    /*Products*/
    .shopping-cart__image.show {
        top: -95px;
        right: 15px;
    }

    .search-form__input-container {
        padding-bottom: 10px;
        padding-right: 30px;
    }


    .product {
    }

        .product:nth-of-type(4n + 1) {
            content: "";
            display: block;
            clear: both;
        }

    .product__quantity {
        top: 5px;
        right: 15px;
    }

    .product__price {
        text-align: center;
        padding-left: 0;
    }

    .product__bg-image {
        height: 220px;
    }

    .product__minus-quantity {
        display: inline-block;
        width: 38px;
        height: 38px;
        padding-top: 10px;
        margin-left: 0;
        margin-right: 9px;
        margin-bottom: 0;
    }

    .product__input-quantity {
        display: inline-block;
        width: 53px;
        padding: 8px 10px;
        margin-left: 0;
        margin-right: 9px;
        margin-bottom: 0;
    }

    .product__add-quantity {
        display: inline-block;
        width: 38px;
        height: 38px;
        padding-top: 10px;
        margin-left: 0;
        margin-right: 9px;
        margin-bottom: 0;
    }

    .product__add-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .product__add {
        display: inline-block;
        height: 38px;
        padding-top: 10px;
    }


    .item {
        width: 100%;
        float: none;
    }

    .item-table tr {
        font-size: 0;
    }

    .item-table th, .item-table td {
        display: inline-block;
        padding: 10px 5px;
        text-align: left;
    }

    .item-table .item__names {
        width: 160px;
    }

    .item-table .item__photos {
        width: 90px;
    }

    .item-table .item__approximate-prices {
        width: 95px;
        padding-left: 15px;
    }

    .item-table .item__quantities {
        width: 78px;
    }

    .item-table .item__approximate-subtotals {
        width: 90px;
    }

    .item-table .item__minus-icons {
        width: 80px;
    }

    .item-table .item__add-icons {
        width: 60px;
    }


    .item-table .item__name {
        width: 160px;
        margin-top: 0px;
    }

    .item-table .item__photo {
        width: 90px;
    }

    .item-table .item__approximate-price {
        width: 95px;
        padding-left: 15px;
    }

    .item-table .item__quantity {
        width: 78px;
    }

    .item-table .item__approximate-subtotal {
        width: 90px;
    }

    .item-table .item__minus {
        width: 80px;
    }

    .item-table .item__add {
        width: 60px;
    }


    .estimate-cart__total {
        text-align: left;
    }

    .reset-all {
        margin-left: auto;
        margin-right: 0;
    }

    /*Contact Us*/
    .form__input-container {
        padding: 15px;
    }

    .form__label {
        width: 35%;
        padding-bottom: 0;
        padding-right: 10px;
    }

    .form__input {
        width: 65%;
    }
}



@media only screen and (min-width: 1600px) {

    /*Cookie policy*/
    .cookie-policy {
        left: 15%;
        width: 70%;
    }
}
