@page
@model AboutModel
@{
    ViewData["Title"] = "About Serene River Farms";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">About Serene River Farms</h2>
            <div class="subheader-divider"></div>
        </div>

        <h3>Visitors Welcome!</h3>
        <p>
            Found in 2005 with the goal to provide fresh local produce and dairy to local customers,
            and to provide a fun destination for picnicing, touring, and hiking our farm grounds too.
            We have slowly become a popular destination for anyone seeking fresh produce and dairy and maybe some
            outdoor adventure too.  Plan your next trip here today!
        </p>
        <h3>Location and Store Hours</h3>
        <p>88002 Plains Highway Carlton, Oregon 97111</p>
        <p>Monday-Friday: 10am-6pm, Saturday, Sunday: 10am-5pm.</p>
        <h3>Some of our Main Products</h3>
        <ul class="list-with-bullet-points">
            <li>Pears</li>
            <li>Apples</li>
            <li>Blueberries</li>
            <li>Strawberries</li>
            <li>Raspberries</li>
            <li>Cherries</li>
            <li>Pumpkins</li>
            <li>Milk</li>
            <li>Canned jams (blueberry, mixed berry, apple, and more!)</li>
        </ul>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image about-us">

        </div>
    </div>
</div>
<div class="content-row">
    <h3 class="map-location__header">Find us Here:</h3>
    <p class="map-location__text">88002 Plains Highway Carlton, Oregon 97111</p>
    <div class="map-location__map"></div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(1, "#mobileNav", ".nav__nav-link");
        setCurrentPage(1, "#desktopNav", ".nav__nav-link");
    });
</script>
