@page
@model SereneRiverFarms.Pages.Error500Model
@{
    ViewData["Title"] = "500 Error";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">500 Internal Server Error</h2>
            <div class="subheader-divider"></div>
            <p>Something went wrong with our server.  Use the navbar to go to another page.</p>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image error-500">

        </div>
    </div>
</div>
