@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Fantastic Oregon Farm</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="index-content-1">
            <h3 class="index-content-1__h3">Fresh Local Produce and Dairy</h3>
            <p class="index-content__detail">Pears, apples, pumpkins, berries, and more.</p>
            <p class="index-content__detail">Buy fresh milk year round!</p>
        </div>
        <div class="index-content-2">
            <h3 class="index-content-2__h3">Locally Owned</h3>
            <p class="index-content__detail">We are family owned and operated.</p>
            <p class="index-content__detail">We sell to local customers, supermarkets, restaurants, and more!</p>
        </div>
        <div class="index-content-3">
            <h3 class="index-content-3__h3">Take a Tour and Sample our Products!</h3>
            <p class="index-content__detail">Tours all summer and fall.</p>
            <p class="index-content__detail">Located in the Willamette Valley in Oregon.</p>
            <div class="sign-up-container button-container"><a class="sign-up-container__link" href="/OurFarm">Take the Tour!</a></div>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="slideshow">
            <h3 class="slideshow__header"></h3>
            <div class="slideshow-image-wrapper">
                <a href="" class="slideshow__image-link">
                    <div class="slideshow__image"></div>
                    <span class="slideshow__image-link-text hidden-sr-only">Explore more in our site.</span>
                </a>
            </div>
            <div class="slideshow__icon left">
                <button class="slideshow__icon__button">&#10094;</button>
            </div>
            <div class="slideshow__icon right">
                <button class="slideshow__icon__button">&#10095;</button>
            </div>
            <div class="slideshow__buttons">
                <button id="pausePlayButton" class="slideshow__slide-button" aria-label="pausePlayButton"></button>
                <button id="slideButton0" class="slideshow__slide-button" aria-label="slideButton0">
                </button>
                <button id="slideButton1" class="slideshow__slide-button" aria-label="slideButton1">
                </button>
                <button id="slideButton2" class="slideshow__slide-button" aria-label="slideButton2">
                </button>
                <button id="slideButton3" class="slideshow__slide-button" aria-label="slideButton3">
                </button>
                <button id="slideButton4" class="slideshow__slide-button" aria-label="slideButton4">
                </button>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>
<div class="content-row">
    <div class="col-vsm-6 col-sma-4 index-section one"> 
         <a class="index-section__bg-image-link" href="/Events">
              <div class="index-section__bg-container">
                   <div class="index-section__bg-image">
                        <span class="hidden-sr-only">Pumpkin Time</span>
                   </div>
              </div>
         </a>
        <h3 class="index-section__title">Pumpkin Time</h3>
        <p class="index-section__description">So many awesome pumpkins to come check out.</p>
    </div>

    <div class="col-vsm-6 col-sma-4 index-section two">
        <a class="index-section__bg-image-link" href="/OurFarm">
            <div class="index-section__bg-container">
                <div class="index-section__bg-image">
                   <span class="hidden-sr-only">Tour the Farm</span>
                </div>
            </div>
        </a>
        <h3 class="index-section__title">Tour the Farm on a Tractor</h3>
        <p class="index-section__description">Like no other farm tour!</p>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section three">
        <a class="index-section__bg-image-link" href="/Events">
            <div class="index-section__bg-container">
                <div class="index-section__bg-image">
                   <span class="hidden-sr-only">See Our Events</span>
                </div>
            </div>
        </a>
        <h3 class="index-section__title">Scenic Cherry Trees</h3>
        <p class="index-section__description">Take a hike through our cherry orchard on a scenic rolling hill.</p>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section four">
        <a class="index-section__bg-image-link" href="/OurProducts">
            <div class="index-section__bg-container">
                <div class="index-section__bg-image">
                    <span class="hidden-sr-only">View Our Products</span>
                </div>
            </div>
        </a>
        <h3 class="index-section__title">Fall Fresh Apples</h3>
        <p class="index-section__description">Now in regional supermarkets.</p>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section five">
        <a class="index-section__bg-image-link" href="/OurFarm">
            <div class="index-section__bg-container">
                <div class="index-section__bg-image">
                    <span class="hidden-sr-only">Tour The Farm</span>
                </div>
            </div>
        </a>
        <h3 class="index-section__title">Recent Photo at the Farm</h3>
        <p class="index-section__description">Our photographer had to try out the new camera.</p>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section six">
        <a class="index-section__bg-image-link" href="/OurProducts">
            <div class="index-section__bg-container">
                <div class="index-section__bg-image">
                    <span class="hidden-sr-only">View Our Products</span>
                </div>
            </div>
        </a>
        <h3 class="index-section__title">Peruse Our Store</h3>
        <p class="index-section__description">We offer special orders for our valued customers.</p>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

<script type="text/javascript" src="~/assets/javascript/farm-index-slideshow.js?mod=08152020"></script>
