@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Fantastic Oregon Farm</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="index-content-1">
            <h3 class="index-content-1__h3">Fresh Local Produce and Dairy</h3>
            <span class="index-content__detail">Pears, apples, pumpkins, berries, and more.</span>
            <span class="index-content__detail">Buy fresh milk year round!</span>
        </div>
        <div class="index-content-2">
            <h3 class="index-content-2__h3">Locally Owned</h3>
            <span class="index-content__detail">We are family owned and operated.</span>
            <span class="index-content__detail">We sell to local customers, supermarkets, restaurants, and more!</span>
        </div>
        <div class="index-content-3">
            <h3 class="index-content-3__h3">Take a Tour and Sample our Products!</h3>
            <span class="index-content__detail">Tours all summer and fall.</span>
            <span class="index-content__detail">Located in the Willamette Valley in Oregon.</span>
            <div class="sign-up-container button-container"><a class="sign-up-container__link" href="/OurFarm">Take the Tour!</a></div>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="slideshow">
            <h3 class="slideshow__header"></h3>
            <div class="slideshow-image-wrapper">
                <a class="slideshow__image-link" href="/OurProducts">
                    <div class="slideshow__image"></div>
                </a>
            </div>
            <div class="slideshow__buttons">
                <div id="pausePlayButton" class="slideshow__slide-button"></div>
                <div id="slideButton0" class="slideshow__slide-button">
                    <div class="slideshow__button-text">1</div>
                </div>
                <div id="slideButton1" class="slideshow__slide-button">
                    <div class="slideshow__button-text">2</div>
                </div>
                <div id="slideButton2" class="slideshow__slide-button">
                    <div class="slideshow__button-text">3</div>
                </div>
                <div id="slideButton3" class="slideshow__slide-button">
                    <div class="slideshow__button-text">4</div>
                </div>
                <div id="slideButton4" class="slideshow__slide-button">
                    <div class="slideshow__button-text">5</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-row">
    <div class="col-vsm-6 col-sma-4 index-section one">
        <div class="index-section__title"><h3>Pumpkin Time</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/Events"><span class="sr-only">Pumpkin Time</span></a>
            </div>
        </div>
        <div class="index-section__description">So many awesome pumpkins, always a visitor favorite!</div>
    </div>

    <div class="col-vsm-6 col-sma-4 index-section two">
        <div class="index-section__title"><h3>Tour the Farm on a Tractor</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/OurFarm"><span class="sr-only">Tour the Farm</span></a>
            </div>
        </div>
        <div class="index-section__description">Like no other farm tour!</div>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section three">
        <div class="index-section__title"><h3>Scenic Cherry Trees</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/Events"><span class="sr-only">See Our Events</span></a>
            </div>
        </div>
        <div class="index-section__description">
            Take a hike through our cherry orchard on a scenic small hill.
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section four">
        <div class="index-section__title"><h3>Fall Fresh Apples</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/OurProducts"><span class="sr-only">View Our Products</span></a>
            </div>
        </div>
        <div class="index-section__description">Now in regional supermarkets.</div>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section five">
        <div class="index-section__title"><h3>Recent Photo at the Farm</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/OurFarm"><span class="sr-only">Tour The Farm</span></a>
            </div>
        </div>
        <div class="index-section__description">Our photographer had to try out the new camera.</div>
    </div>
    <div class="col-vsm-6 col-sma-4 index-section six">
        <div class="index-section__title"><h3>Peruse Our Store</h3></div>
        <div class="index-section__bg-container">
            <div class="index-section__bg-image">
                <a class="index-section__bg-image-link" href="/OurProducts"><span class="sr-only">View Our Products</span></a>
            </div>
        </div>
        <div class="index-section__description">We offer special orders for our valued customers.</div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

<script type="text/javascript" src="~/assets/javascript/farm-index-slideshow.js"></script>
