
@page
@model SereneRiverFarms.Pages.OurFarmModel
@{
    ViewData["Title"] = "Our Farm";
    var contactResponse = ViewData["Message"];
}


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Tour Our Farm</h2>
            <div class="subheader-divider"></div>
        </div>
        <p>Guided Tours Available Friday, Saturday, Sunday 11:00am-3:00pm March-November.</p>
        <p>Winter months December-February: tours available Friday, Saturday, Sunday 11:00am-3:00pm on request.</p>
        <p>Questions: call us at 503-882-8888 or <a href="/Contact">contact us here</a>.</p>
    </div>
    <div class="col-sma-6">
        <h3 class="subheader">Schedule a Tour!</h3>
        <div class="javascript-validation-results-contact-us"></div>
        @{
            <div class="form-response">
                @contactResponse
            </div>
        }
        <form class="form set-up-tour-form" id="setUpTourForm" name="setUpTourForm" onsubmit="return validateSetUpTourForm();" method="post">
            <div class="form__required">** - Required Field</div>
            <div class="form__input-container">
                <label class="form__label" for="userName">Name **</label>
                <input id="userName" class="form__input" type="text" name="userName" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userEmail">Email **</label>
                <input id="userEmail" class="form__input" type="text" name="userEmail" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userPhone">Phone **</label>
                <input id="userPhone" class="form__input" type="tel" name="userPhone" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="partySize">Total Party Size **</label>
                <input id="partySize" class="form__input" type="text" name="partySize" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="visitDate">Requested Date **</label>
                <input id="visitDate" class="form__input" type="date" name="visitDate" min="2019-01-01" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="visitTime">Requested Time **</label>
                <select id="visitTime" class="form__input" type="text" name="visitTime">
                    <option value=""></option>
                    <option value="11:00">11 AM</option>
                    <option value="13:00">1 PM</option>
                    <option value="15:00">3 PM</option>
                </select>
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userComments">Comments/Questions </label>
                <textarea id="userComments" class="form__input form__textarea" name="userComments"></textarea>
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <input asp-page-handler="SetUpTourSection" id="setUpTourButton" class="form__submit-button button-container" type="submit" name="submitButton" value="Request Tour!" />
                <div class="form__errors"></div>
            </div>
        </form>
    </div>
</div>

<div class="content-row">
    <div class="col-sma-1">&nbsp;</div>
    <div class="col-sma-10">
        <div class="our-farm-tour-image"></div>
    </div>
    <div class="col-sma-1">&nbsp;</div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(1, "#mobileNav", ".nav__nav-link");
        setCurrentPage(1, "#desktopNav", ".nav__nav-link");
    });
</script>

<script type="text/javascript" src="assets/javascript/our-farm-validation.js?mod=11212019"></script>
