@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Privacy Policy</h2>
            <div class="subheader-divider"></div>
        </div>
        <p>This site uses cookies.</p>
        <p>We don't share any of your information with third parties.</p>
        <p>Enjoy the site and come pay us a visit!</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image privacy-policy">

        </div>
    </div>
</div>
