@page
@model SereneRiverFarms.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Recipes</h2>
            <div class="subheader-divider"></div>
        </div>

        <div class="recipe zero">
            <h3>Apple Cider</h3>
            <p>A warm treat for all ages, especially popular in the fall.</p>
            <div class="recipe__photo"></div>
            <h4 class="recipe__subheading">Ingredients</h4>
            <ul class="list-with-bullet-points recipes__list">
                <li>10 fresh apples</li>
                <li>1 orange</li>
                <li>ground cinnamon</li>
                <li>cloves</li>
                <li>water</li>
                <li>mixing bowl</li>
            </ul>
            <h4 class="recipe__subheading">Instructions</h4>
            <p>Cut up apples and oranges, add the cinnamon and cloves, and combine ingredients in bowl.  Add water until the top of the fruits are covered.  
            Carefully boil mixture for about an hour.  Let sit for several hours, and then enjoy. </p>
            <div class="clear-both"></div>
        </div>
        <div class="recipe one">
            <h3>Blueberry Muffins</h3>
            <p>Enjoy warm blueberry muffins with either fresh or frozen berries.  This recipe calls for a blend of whole wheat and white flour for a perfect combination of heartiness and taste. </p>
            <div class="recipe__photo"></div>
            <h4 class="recipe__subheading">Ingredients</h4>
            <ul class="list-with-bullet-points recipes__list">
                <li>whole wheat flour</li>
                <li>white flour</li>
                <li>blueberries, fresh or frozen</li>
                <li>baking powder</li>
                <li>milk</li>
                <li>eggs</li>
                <li>butter</li>
                <li>sugar</li>
                <li>salt</li>
                <li>vanilla extract</li>
                <li>cinnamon</li>
                <li>mixing bowl</li>
                <li>muffin pan</li>
                <li>muffin cups</li>
            </ul>
            <h4 class="recipe__subheading">Instructions</h4>
            <p>Mix ingredients in mixing bowl.</p>
            <p>Place mixture in muffin cups in muffin pan.</p>
            <p>Carefully place in oven and bake for a while.  Carefully remove muffins and let cool for a while.  Enjoy.</p>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image recipes">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(3, "#mobileNav", ".nav__nav-link");
        setCurrentPage(3, "#desktopNav", ".nav__nav-link");
    });
</script>
