@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.AccountHomeModel
@{
    ViewData["Title"] = "Account Home";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> SignInManager
@inject UserManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> UserManager


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Account Home</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="account-info">
            <div class="account-info__user-name">Name: @UserManager.GetUserName(User)</div>
        </div>
        <h3></h3>
        <p></p>
        <h3></h3>
        <ul class="list-with-bullet-points">
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="col-sma-6">
        <h3>Manage Account</h3>
        <div class="account-nav">
            <a class="account-nav__link" href="/Identity/Account/Settings">Settings</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(0, ".register-login", ".register-login__link");
        setCurrentPage(0, ".register-login", ".register-login__link");
    });
</script>