@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.DeleteAccountModel
@{
    ViewData["Title"] = "Delete Account";
}


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Delete Account</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="">
            <p class=""><strong>Note: if you proceed to delete your account your info cannot be recovered!!</strong></p>
        </div>
        <form class="form delete-account-form" name="deleteAccountForm" onsubmit="return validateDeleteAccountForm();" method="post">
            <div class="javascript-validation-results-contact-us"></div>
            <div asp-validation-summary="All" class=""></div>
            <div class="form__required">** - Required Field</div>
            <div class="form__input-container">
                <label asp-for="Input.userPassword" class="form__label" for="userPassword">Password **</label>
                <input asp-for="Input.userPassword" id="userPassword" class="form__input" type="password" name="userPassword" />
                <span asp-validation-for="Input.userPassword" class=""></span>
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <input id="deleteAccountButton" class="form__submit-button button-container" type="submit" name="deleteAccountButton" value="Delete Account" />
                <div class="form__errors"></div>
            </div>
        </form>
    </div>
    <div class="col-sma-6">
        <h3>Manage Account</h3>
        <div class="account-nav">
            <a class="account-nav__link" href="/Identity/Account/AccountHome">Account Home</a>
            <a class="account-nav__link" href="/Identity/Account/Settings">Settings</a>
            <a class="account-nav__link" href="/Identity/Account/DeleteAccount">Remove Account</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

<script type="text/javascript" src="/assets/javascript/delete-account-validation.js?mod=11142019"></script>
