@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.ForgotPasswordEmailSentModel
@{
    ViewData["Title"] = "Email Sent";
}


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Email Sent</h2>
            <div class="subheader-divider"></div>
        </div>
        <p>Check your email, follow the link back to this site, and reset your password.  Thank you.</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image forgot-password-email-sent">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>
