@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    var contactResponse = ViewData["Message"];
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Forgot Password</h2>
            <div class="subheader-divider"></div>
        </div>
        @{
            if (@contactResponse != null)
            {
                <div class="form-response">
                    @contactResponse
                </div>
            }
        }
    <form class="form forgot-password-form" name="forgotPasswordForm" onsubmit="return validateForgotPasswordForm();" method="post">
        <div class="javascript-validation-results-contact-us"></div>
        <div class="form__required">** - Required Field</div>
        <div class="form__input-container">
            <label class="form__label" for="userEmail">Email **</label>
            <input id="userEmail" class="form__input" type="text" name="userEmail" />
            <div class="clear-both"></div>
        </div>
        <div class="form__input-container">
            <input asp-page-handler="ForgotPasswordSection" id="forgotPasswordButton" class="form__submit-button button-container" type="submit" name="forgotPasswordButton" value="Send Reset Password Email!" />
            <div class="form__errors"></div>
        </div>
    </form>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image forgot-password">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

<script type="text/javascript" src="/assets/javascript/forgot-password-validation.js?mod=11142019"></script>
