@page
@model LogoutModel
@{
     ViewData["Title"] = "Logout";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Logged Out</h2>
            <div class="subheader-divider"></div>
        </div>
        <p>You have successfully logged out.</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image logout">

        </div>
    </div>
</div>