@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.ResetPasswordResultsModel
@{
    ViewData["Title"] = "Reset Password Result";
}

<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Email Sent</h2>
            <div class="subheader-divider"></div>
        </div>
        <p>Your password has been reset. <a href="./Login">Login here</a>.</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image reset-password-results">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

