@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Reset Password</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="settings-form-container">
            <div><h3>Reset Password</h3></div>
            <form class="form settings-form" id="changePasswordForm" name="changePasswordForm" onsubmit="return validateResetPasswordForm();" method="post">
                <div class="javascript-validation-results-contact-us"></div>
                <div class="" asp-validation-summary="All"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form__input-container">
                    <label asp-for="Input.userEmail" class="form__label">Email **</label>
                    <input asp-for="Input.userEmail" id="userEmail" class="form__input" type="text" />
                    <span asp-validation-for="Input.userEmail" class=""></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label asp-for="Input.NewPassword" class="form__label">Enter New Password **</label>
                    <input asp-for="Input.NewPassword" id="userNewPassword" class="form__input" type="password" />
                    <span asp-validation-for="Input.NewPassword"></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label asp-for="Input.ConfirmPassword" class="form__label">Confirm New Password **</label>
                    <input asp-for="Input.ConfirmPassword" id="userConfirmPassword" class="form__input" type="password" />
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <input id="resetPasswordButton" class="form__submit-button" type="submit" name="resetPasswordButton" value="Change Password!" />
                    <div class="form__errors"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image reset-password">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    });
</script>

<script type="text/javascript" src="/assets/javascript/reset-password-validation.js?mod=11142019"></script>
