@page
@model SereneRiverFarms.Areas.Identity.Pages.Account.SettingsModel
@{
    ViewData["Title"] = "Settings";
}


@using Microsoft.AspNetCore.Identity
@inject SignInManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> SignInManager
@inject UserManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> UserManager


<div class="content-row">
    <div class="col-sma-6 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Settings</h2>
            <div class="subheader-divider"></div>
        </div>
        <div class="settings-form-container">
            <div><p><strong>UserName: @UserManager.GetUserName(User)</strong></p></div>
            <div><h3>Change Password</h3></div>
            <p>@Html.Partial("_SettingsMessage", Model.updatePasswordResponse)</p>
            <form class="form settings-form" id="changePasswordForm" name="changePasswordForm" method="post">
                <div class="" asp-validation-summary="All"></div>
                <div class="form__input-container">
                    <label asp-for="Input.CurrentPassword" class="form__label">Current Password **</label>
                    <input asp-for="Input.CurrentPassword" class="form__input" type="password" />
                    <span asp-validation-for="Input.CurrentPassword"></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label asp-for="Input.NewPassword" class="form__label">Enter New Password **</label>
                    <input asp-for="Input.NewPassword" class="form__input" type="password" />
                    <span asp-validation-for="Input.NewPassword"></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label asp-for="Input.ConfirmPassword" class="form__label">Confirm New Password **</label>
                    <input asp-for="Input.ConfirmPassword" class="form__input" type="password" />
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <input id="changePasswordButton" class="form__submit-button" type="submit" name="changePasswordButton" value="Change Password!" />
                    <div class="form__errors"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image settings">

        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(0, ".register-login", ".register-login__link");
        setCurrentPage(0, ".register-login", ".register-login__link");
    });
</script>

