
@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}


    @if (showBanner)
    {
        <div class="cookie-policy">
            <h3 class="cookie-policy__subheading">Cookie Policy</h3>
            <p>This site uses cookies.  We do not share your information with 3rd parties.</p>
            <div class="cookie-policy__learn-more"><a href="/PrivacyPolicy">Learn More</a></div>
            <div class="cookie-policy__agree-to-cookies" data-cookie-string="@cookieString">That's ok!</div>

        </div>
        <script>
            (function () {
                $(".cookie-policy__agree-to-cookies").on("click", function (el) {
                    document.cookie = el.target.dataset.cookieString;
                    $(".cookie-policy").addClass("hide");
                });
            })();
        </script>

    }
