@using Microsoft.AspNetCore.Identity

@inject SignInManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> SignInManager
@inject UserManager<SereneRiverFarms.Areas.Identity.Data.SereneRiverFarmsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="register-login-username">Welcome @UserManager.GetUserName(User)!</div>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="" class="">
        <div class="register-login">
            <div class="register-login__register"><a asp-area="Identity" asp-page="/Account/Settings" class="register-login__link">Settings</a></div>
            <button type="submit" class="register-login__logout">Logout</button>
        </div>
    </form>
}
else
{
    <div class="register-login">
        <div class="register-login__register"><a asp-area="Identity" asp-page="/Account/Register" class="register-login__link">Register</a></div>
        <div class="register-login__login"><a asp-area="Identity" asp-page="/Account/Login" class="register-login__link">Login</a></div>
    </div>
}
